---
import MarketingLayout from '../layouts/MarketingLayout.astro';
import UsaSkipNav from '../components/UsaSkipNav.astro';
---

<MarketingLayout>
  <UsaSkipNav mainContentId="#main-content" slot="skip-nav" />
  <main id="main-content" class="grid-container ai-maxw-widescreen">
    <h1>Page title</h1>
  </main>
</MarketingLayout>
