---
import SolutionsCards from './SolutionsCards.astro';
---

<main id="main-content" class="padding-x-0 border-top-0">
  <!-- ===== WORK IN PROGRESS MESSAGE ===== -->
  <div
    style="min-height: 500px; margin: 2rem; display: flex; flex-direction: column; justify-content: center; align-items: center;"
  >
    <p>We are working hard to bring you this content. Stay tuned!</p>
  </div>

  <SolutionsCards />
</main>
