---
import Logo from './Logo.svelte';
import MenuButton from './MenuButton.svelte';
import NavLinks from './NavLinks.svelte';
import SearchBar from './SearchBar.svelte';
import NavActionButtons from './NavActionButtons.svelte';

let isPlatformExpanded = false;

function togglePlatformMenu() {
  isPlatformExpanded = !isPlatformExpanded;
}
---

<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic height-15">
  <div class="usa-nav-container ai-nav-container">
    <div class="usa-navbar ai-navbar">
      <Logo />
      <MenuButton />
      <nav aria-label="Primary navigation" class="usa-nav ai-nav">
        <button type="button" class="usa-nav__close">
          <img src="/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <div>
          <NavLinks
            isPlatformExpanded={isPlatformExpanded}
            togglePlatformMenu={togglePlatformMenu}
          />
        </div>
        <div class="ai-action-bar">
          <SearchBar />
          <NavActionButtons />
        </div>
      </nav>
    </div>
  </div>
</header>

<style>
  .ai-nav-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  @media (min-width: 64em) {
    .ai-nav-container {
      display: flex;
      flex-direction: row;
      height: auto;
      position: relative;
      top: 62px;
    }
    .ai-navbar {
      width: fit-content;
      display: flex;
      flex-direction: row;
      flex: auto;
      gap: 16px;
      align-items: center;
      justify-content: flex-end;
    }
    .ai-nav {
      padding: 0;
    }
    .ai-action-bar {
      display: flex;
      flex-direction: row;
      flex: auto;
      gap: 1rem;
      align-items: center;
      justify-content: flex-end;
    }
  }
</style>
