:root {
  /* global button */
  --ai-button-radius: var(--ai-radius-round);
  --ai-button-padding-x: 2rem;
  --ai-button-padding-y: 0.75rem;
  --ai-button-height: 2.5rem;

  /* primary button */
  --ai-button-background-primary-rest: #000;
  --ai-button-background-primary-hover: var(
    --ai-button-background-primary-rest
  );
  --ai-button-text-primary-rest: #fff;
  --ai-button-text-primary-hover: var(--ai-button-text-primary-rest);

  /* inverted button */
  --ai-button-background-inverted-rest: #fff;
  --ai-button-background-inverted-hover: #f4f4f4;
  --ai-button-text-inverted-rest: #000;
  --ai-button-text-inverted-hover: #000;
  --ai-button-border-inverted-rest: none;
  --ai-button-border-inverted-hover: none;

  /* outline button */
  --ai-button-text-outline-rest: #000;
  --ai-button-text-outline-hover: var(--ai-button-text-outline-rest);
  --ai-button-border-outline-rest: #000;
  --ai-button-border-outline-hover: var(--ai-button-border-outline-rest);
}

.ai-button {
  background-color: var(--ai-button-background-primary-rest);
  border-radius: var(--ai-button-radius);
  font-weight: 500;
  padding-inline: var(--ai-button-padding-x);
  padding-block: var(--ai-button-padding-y);
  margin: 0;
  height: var(--ai-button-height);
  min-width: 107px;
}

.ai-button:is(:hover, :focus) {
  background-color: var(--ai-button-background-primary-hover);
  color: var(--ai-button-text-primary-hover);
}

.ai-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--ai-button-border-outline-rest);
  color: var(--ai-button-text-outline-rest);
}

.ai-button--outline:is(:hover, :focus) {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--ai-button-border-outline-hover);
  color: var(--ai-button-text-outline-hover);
}

.ai-button--inverted {
  background-color: var(--ai-button-background-inverted-rest);
  color: var(--ai-button-text-inverted-rest);
  box-shadow: none;
  border: var(--ai-button-border-inverted-rest);
}

.ai-button--inverted:is(:hover, :focus) {
  background-color: var(--ai-button-background-inverted-hover);
  color: var(--ai-button-text-inverted-hover);
  border: var(--ai-button-border-inverted-hover);
}

.ai-button--unstyled {
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  min-width: fit-content;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.ai-button--unstyled:is(:hover, :focus) {
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  text-decoration: none;
}

.ai-menu-buttons {
  display: flex;
  gap: var(--ai-size-16);
}
